.viewApplicantsContainer ul {
  margin-top: 200px;
  width:20%;


}
.viewApplicantsContainer{
 margin-left:40rem;
}
.errorMessage {
  color: red;
}

.applicantsContainer {
  margin-top: 20px;
}

.applicantsContainer h2 {
font-family: 'oswald';
font-weight: 400;
}

.applicantsContainer p {
  font-family: 'oswald';
  font-weight: 200;
}

.applicantsContainer .acceptButton {
  font-family: 'oswald';
  font-weight: 400;
  background-color:green;
  color:white;
}
.applicantsContainer .rejectButton{
  font-family: 'oswald';
  font-weight: 400;
  background-color:red;
  color:white;
}





