.cardsContainer {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 4rem;
  margin:4rem;
}

.cards {
  display:flex;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  width:60%;
  padding: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.cards h3 {
  font-family: 'oswald';
  font-weight: 400;
  margin: 10px 0;
  font-size: 1rem;
  color: #283140;
  margin-left:3rem;
}

.message_icon{
  color: #283140;
  font-size: 1rem;
  right:5rem;
}

.PhotoWrapper{
  width:30%;
}